body {
    background-color:yellow;
    margin:0;
}
h1{
    color:red;
}
header{
    height:60px;
    background-color:blue;
}
header nav ul li{
    display:inline;
    list-style:none;

}
header nav ul li a {
    padding:11px;
    background-color:orangered;
    color:black;
    font-weight:bold;
}
    header nav ul li a:hover {
        background-color:orange;
    }
nav {
    position: absolute;
    right: 15px;
    top: 15px;
}

