
@{
}
<html>
<head>
    <title>
        Core App
    </title>
    <link href="~/css/Style.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Index">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Career">Career</a></li>
                <li><a href="/Blog">Blog</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()

    <footer></footer>

</body>
</html>
